body{
    background-color: #282828;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#root{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 50em auto;
    
}
.titulo{
    font-size:100px;
    color: brown;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.Menu{
    display: flex;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
footer{
    font-size: small;
    color: gray;
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}