$cor-de-fundo: #282828;
$tamanho-pagina: 100%;
$fundo-da-app: rgb(80, 75, 75);
$borda-tamanho: 20px;
$tipo-de-borda: solid;
$cor-da-borda: rgb(82, 43, 43);
$borda-raio: 50px;



.container-fluid{
    background-color: $cor-de-fundo;
    height: $tamanho-pagina;

}
.Menu-Game{
    background-color: $fundo-da-app;
    border: $borda-tamanho;
    border-style: $tipo-de-borda;
    border-color: $cor-da-borda;
    border-radius: $borda-raio;
}