$cor: rgba(0, 0, 0, 0);
$pecas: bolder;
$tamnho-pecas: 50px;
$border-botao: none;

.celula{
    background-color: $cor;    
    border: $border-botao;
    height: $tamnho-pecas;
    width: $tamnho-pecas;
}
/*.Tabuleiro_1{
    height: 100%;
    min-height: 100%;
}*/
/*
.x_image{
    background-image: url('https://dictionary.cambridge.org/pt/images/thumb/cross_noun_002_09265.jpg?version=5.0.318');
    background-size: cover;
}
*/
/*.o_image{
    background-image: ;
}*/