$cor:white;
$pecas: bolder;
$tamnho-pecas: 25px;

.test{
    color: $cor;
    font-weight: $pecas;    
    font-size: $tamnho-pecas;
}

.x_image{
    background-image: url('https://dictionary.cambridge.org/pt/images/thumb/cross_noun_002_09265.jpg?version=5.0.318');
    background-size: cover;
}

/*.o_image{
    background-image: ;
}*/