$cor: white;
$tamanho-letra: 30px;
$tamanho: 100px;
$tamanho-menu: 556px;

.titulo-menu{
    color:$cor;
    font-size: $tamanho-letra;
    height: $tamanho;
    
}
.MenuPlayers{
    margin-bottom: $tamanho;
}

.inicio-menu-players{
    height: $tamanho-menu;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_pve{
    background-image: url("/public/assets/images/SINGLEPLAYER.jpg");
    width: 334px;
    height: 38px;
}
.btn_pvp{
    background-image: url("/public/assets/images/MULTIPLAYER.jpg");
    width: 334px;
    height: 38px;
}
.btn_back{
    background-image: url("/public/assets/images/BACK.jpg");
    width: 334px;
    height: 38px;
}


