$cor: white;
$tamanho-letra: 30px;
$tamanho: 100px;
$tamanho-menu: 556px;

.titulo-menu{
    color:$cor;
    font-size: $tamanho-letra;
    height: $tamanho;
    
}
.MenuPlayers{
    margin-bottom: $tamanho;
}

.inicio-menu-players{
    height: $tamanho-menu;
    display: flex;
    justify-content: center;
    align-items: center;
}
