$cor: white;
$tamanho-letra: 30px;
$tamanho: 100px;

.titulo-menu{
    color:$cor;
    font-size: $tamanho-letra;
    height: $tamanho;
}

.Player_1_name{
    color: $cor;
}
.Player_2_name{
    color: $cor;
}